
#outline, .outline {
    font-size:9pt;
    overflow-y:auto;
    overflow-x:hidden;
    flex:1;
}
.outline-item {
    padding:2px 4px;
    cursor:pointer;
    white-space: nowrap;
    box-sizing:border-box;
    min-height:16px;
    white-space: nowrap;
    opacity:0.9;
}
.outline-item.visible {
    background:rgba(0,0,0,0.25);
    opacity:1;
}
.outline-item:hover {
    background:rgba(0,0,0,0.4);
    opacity:1;
}
.outline-item.function {
    color:rgb(101,191,246);
}

.outline-item.object {
    color:rgb(52,111,171);
}

.outline-item.heading {
    color:rgb(180,180,180);
}

.outline-item.decorator {
    color:rgb(161,225,150);
}
.outline-item.todo {
    color:rgb(226,83,83);
}
.outline-item.todo:before {
    content: "• ";
    color:rgb(226,83,83);
}
.outline-item.note {
    color:rgb(226,124,83);
}
.outline-item.note:before {
    content: "• ";
    color:rgb(226,124,83);
}

/*---Pinned Outline*/
#outline_pinned {
    font-size:10pt;
    padding-bottom:6px;
}
.outline-item.pin {
    color:rgb(197,83,226);
}
.outline-item.pin:before {
    /*content: "➤ ";*/
    color:rgb(197,83,226);
}