body {
    overflow: hidden;
    background:rgb(30,30,30);
    font-family:DejaVu Sans Mono,Consolas;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    color:rgb(200,200,200);
}

/*---Scroll*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    box-shadow:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,0.2); 
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

input {
    line-height:1rem;
}

#main_window {
    display:flex;
    flex-direction:column;
    flex:1;
    min-width:0;
}

/*---Sidebar*/
#sidebar {
    width:48px;
    display:flex;
    flex-direction:column;
    min-height:0;
}
#sidebar_plugin_buttons {
    display:flex;
    flex-direction:column;
    min-height:0;
}
#sidebar button {
    outline:none;
    margin-top:10px;
    padding:2px;
    user-select: none;
}

#sidebar svg, #sidebar button img {
    fill:rgb(13,139,255);
    height:24px;
    width:24px;
}
#sidebar .untoggled {
    opacity:0.5;
}

#sidebar .untoggled:hover {
    opacity:0.65;
}

#sidebar button:disabled {
    opacity:0.3;
}


/*---Left Window*/
#left_window {
    /*flex-basis:250px;*/
}

/*---Editor Window*/
#editor_window {
    border-left:1px solid rgb(50,50,50);
    display:flex;
    flex:1;
    min-height:0;
}

#editor_pages {
    flex:1;
    display:flex;
    min-height: 0;
}
#editor_pages iframe {
    background:rgb(30,30,30);
    flex:1;
    box-sizing:border-box;
    border:0px;
    padding:0px;
}

/*---*/
/*---*/
/*---Home*/
#pg_home {
    display:flex;
    flex-direction:column;
    flex:1;
    text-align:center;
    overflow:auto;
    background: radial-gradient(ellipse at center, rgba(9,33,60,0.6) 0%,rgba(8,24,43,0.6) 50%,rgba(6,16,28,0.3) 100%);
}

#home_title {
    margin:40px;
    font-size:1.6rem;
}
#home_title small {
    font-size:0.9rem;
}
#home_title img {
    height:1.6rem;
    
}
.grad-text, .grad-text-h {
    background: -webkit-linear-gradient(rgba(102,186,218,220), rgb(63,141,249));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pg_home .grad-text,.grad-text-h  {
    opacity:0.6;
}

.grad-text-h:hover {
    opacity:1;
}

#tab_home img {
    margin:-3px 10px;
    margin-top:-2px;
    height:20px;
    width:20px;
}

/*---Workspaces */
#workspaces_container {
    flex:1;
    display:flex;
    flex-direction:column;
}
#workspaces {
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    margin:0px auto;
    padding:16px 40px;
}

.workspace-item {
    cursor:pointer;
    border:1px solid rgb(63,141,249);
    border-top:1px solid rgb(95,178,223);
    border-radius:4px;
    padding:8px 12px;
    margin:6px;
    width:200px;
    overflow:hidden;
    text-align:left;
}
.workspace-item:hover, .scope-btn:hover {
    opacity:1 !important;
}

/*---*/
/*---Scope Item Settings*/
.scope-btn {
    cursor:pointer;
    border:1px solid rgb(63,141,249);
    border-top:1px solid rgb(95,178,223);
    border-radius:4px;
    padding:4px 12px;
    background: -webkit-linear-gradient(rgba(102,186,218,220), rgb(63,141,249));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:0.8;
    outline:none;
    box-sizing: border-box;
}

.scope-btn-h:hover {
    opacity:1 !important;
}

.scope-input,.scope-textarea {
    background:rgb(0,0,0,0.7);
    color:rgb(200,200,200);
    padding:4px 8px;
    outline:none;
    border:none;
    border-radius:4px;
    font-size:1rem;
    resize:none;
}

.scope-border {
    border-color:rgb(50,50,50);
}

.scope-textarea {
    background:rgb(20,20,22);
    padding:10px;
    font-size:0.9rem;
}

/*---*/
/*---Tabs*/
#top_toolbar {
    display:flex;
    align-items:center;
}

#tabbar {
    display:flex;
    flex:1;
    flex-wrap:wrap;
    min-height:30px;
}
.tab {
    margin-top:2px;
    border:1px solid rgb(30,30,30);
    border-bottom:1px solid rgb(50,50,50);
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    display:flex;
    align-items:center;
    background:rgb(40,40,40);
    opacity:1;
    color:rgb(150,150,150);
    cursor: pointer;
    user-select: none;
}
.tab:hover {
    opacity:0.8;
}
.tab.active {
    border:1px solid rgb(50,50,50);
    background:rgb(30,30,30);
    border-bottom:1px solid rgb(30,30,30);
    opacity:1;
    margin-bottom:0px;
    color:rgb(200,200,200);
}
.tab-title {
    font-size:10pt;
    padding:4px 8px;
    padding-bottom:2px;
    box-sizing:border-box;
    user-select: none;
}
.tab-title.unsaved::after {
    content:'*';
}
.tab-close {
    color:rgb(120,120,120);
    padding:4px 6px;
    padding-left:2px;
    box-sizing:border-box;
    user-select: none;
}
.tab-close:hover {
    color:rgb(239,41,41);
}
.tab-space {
    border-bottom:1px solid rgb(50,50,50);
    flex:1;
}

.tab img {
    height:18px;
    width:18px;
    margin:-1px 4px;
    user-select: none;
}
.tab-icon {
    margin:-1px 0px !important;
    padding-left:8px;
}
.tab-icon.icon-only {
    padding-left:12px;
    padding-right:12px;
    height:20px;
    width:20px;
    margin:-2px;
}
.tab_dragover {
    border-left:4px solid rgb(95,178,223);
}

/*---Bottom Tab Bar*/
#bottom_tabbar {
    display:flex;
    flex-wrap:wrap;
    min-height:30px;
}

#bottom_tabbar .tab, .wksp-tab {
    border-radius:0px;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    margin-top:0px;
    margin-bottom:2px;
    border:1px solid rgb(30,30,30);
    border-top:1px solid rgb(50,50,50);
}
#bottom_tabbar .tab.active {
    border:1px solid rgb(50,50,50);
    border-top:1px solid rgb(30,30,30);
    opacity:1;
    margin-top:0px;
}

#bottom_tabbar .tab-title {
    padding:3px 8px;
}

#bottom_tabbar .tab-space {
    border-top:1px solid rgb(50,50,50);
    border-bottom:0px;
}

#bottom_tabbar .tab-close {
    padding-top:2px;
    cursor:pointer;
}

/*---Workspace Tab*/
#wksp-tab-container {
    padding:2px 4px;
    padding-bottom:0px;
    padding-left:2px;
    border-top:1px solid rgb(50,50,50);
}
.wksp-tab {
    border:1px solid rgb(63,141,249);
    border-top:1px solid rgb(95,178,223);
    border-radius:4px;
    opacity:0.8;
}

.wksp-tab .tab-title {
    padding:2px 6px;
}

/*--- */
/*---Bottom Window */
#bottom_window {
    min-width:0;
    position:relative;
    display:flex;
    flex-direction:column;
}

#bottom_buttons {
    position:absolute;
    top:0;
    right:2px;
    display:flex;
    flex-direction:column;
}

.btm-btn {
    padding:4px !important;
    box-sizing:border-box;
    color:rgb(150,150,150);
    margin:0px;
    line-height:1rem;
}

#bottom_pages {
    min-width:0;
    border-left:1px solid rgb(50,50,50);
    margin:0px;
    display:flex;
    flex-basis:186px;
    height:100px;
    display:none;
}

#bottom_pages:not(.hidden) {
    display:flex;
}

#bottom_pages .page {
    border-top:1px solid rgb(50,50,50);
    box-sizing:border-box;
    min-width:0;
    flex:1;
    min-height:0;
    display:flex;
    padding-right:20px;
}

#bottom_pages .page:not(.active) {
    display:none;
}

/*--- */
/*---Right Window */
#right_window {
    display:flex;
    /*flex:1;*/
    min-height:0;
    min-width:0;
    border-left:1px solid rgb(50,50,50);
}

#right_window iframe {
    background:white;
    border:0px;
    box-sizing:border-box;
    min-width:0;
    flex:1;
}
#right_window .page {
    overflow:auto;
    flex:1;
    min-height:0;
    min-width:0;
}
#right_window .preview-page {
    background:white;
}

/*--- */
/*---Statusbar*/
#statusbar {
    position:absolute;
    z-index:10;
    bottom:2px;
    right:2px;
    font-size:0.8rem;
    color:rgb(20,20,20);
    padding:4px 8px;
    background:rgba(63,141,249,0.9);
    background: linear-gradient(to bottom, rgba(95,178,223,0.9) 0%,rgba(63,141,249,0.9) 100%);
    border-radius:4px;
    box-sizing:border-box;
    display:flex;
    align-items:center;
}
#statusbar.warning {
    background:rgba(233,185,110,0.9);
}
#statusbar.error {
    background:rgba(255,88,88,0.9);
}
#statusbar_close {
    color:rgb(60,60,60);
    margin-left:8px;
    cursor:pointer;
}
#statusbar_close:hover {
    color:rgb(239,41,41);
}

/*---Dialog Updates*/
.dlg-bg, .dlg-bg-temp {
    background:rgba(19,29,40,0.7);
    background:rgba(11,18,25,0.8);
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:flex;
}

.dlg-frame, .dlg-frame-wide {
    background:rgba(9,14,19,0.9);
    color:white;
    border:1px solid rgb(63,141,249);
    border-top:1px solid rgb(95,178,223);
    margin:auto;
}

.dlg-content {
    color:rgb(160,160,180);
}

.dlg-title {
    border-bottom:0px;
    color:rgb(95,178,223);
}

.dlg-content input{
    background:rgb(0,0,0,0.7);
    color:rgb(200,200,200);
}

.dlg-frame .btn-close, .dlg-frame-wide .btn-close {
    color:rgb(80,80,80,0.6);
}

.dlg-frame .btn, .dlg-frame-wide .btn {
    background:transparent;
    border:1px solid rgb(63,141,249);
    border-top:1px solid rgb(95,178,223);
    color: rgb(95,178,223);
    opacity:0.7;
    outline-color:rgb(63,141,249);
}
.dlg-frame .btn:hover, .dlg-frame-wide .btn:hover {
    opacity:1;
}
.dlg-frame .btn:outline, .dlg-frame-wide .btn:outline {
    opacity:1;
}

/*---Menu*/
.menu-container {
    background:rgba(20,20,20,0.9);
    border:1px solid rgb(63,141,249);
    border-top:1px solid rgb(95,178,223);
    border-radius:3px;
}
.menu-item {
    color:rgb(95,178,223);
    opacity:0.7;
    font-size:0.8rem;
    user-select: none;
}
.menu-item:hover {
    opacity:1;
    background:rgba(10,10,10,0.2);
}
.menu-separator {
    background:rgba(95,178,223,0.2);
}

#menu_main .menu-item {
    font-size:0.9rem;
}