<link href="../../ide.css" rel="stylesheet">
<style>
    
    #ta_editor {
        background:rgb(20,20,22);
        flex:1;
        border:0px;
        padding:10px;
        color:rgb(200,200,200);
        outline:none;
        resize:none;
    }
</style>
<script>
    class TextEditor {
        //---f:
        constructor(options) {
            this.element = document.getElementById('ta_editor')
            this.CHANGED = 0
            this.PREV_TEXT = ''
        }
        
        //---f:
        load(txt,mode,settings) {
            this.setText(txt)
            this.PREV_TEXT = txt
            this.element.addEventListener('keyup',this.textChanged.bind(this),false)
        }
        
        //---f:
        getText() {
            return document.getElementById('ta_editor').value
        }
        
        //---f:
        setText(txt) {
            document.getElementById('ta_editor').value = txt
            this.PREV_TEXT = txt
        }

        //---f:
        replaceText(txt) {
            document.getElementById('ta_editor').value = txt
        }

        //---f:
        focus() {
            this.element.focus()
        }

        //---f:
        textChanged() {
            // Debounce and compare text to see if really changed
            clearTimeout(this.compare_timeout)
            this.compare_timeout = setTimeout(this.compareText.bind(this),2000)
            
        }

        //---f:
        compareText() {
            let txt = this.getText()
            let text_diff = (this.PREV_TEXT != txt)
            if (text_diff != this.CHANGED) {
                this.CHANGED = text_diff
                var evt = new CustomEvent('textchanged',{detail:{uuid:this.uuid,changed:this.CHANGED}})
                this.element.dispatchEvent(evt)
            }
        }

    }
</script>
<textarea id="ta_editor"></textarea>
<script>
    var CodeEditor = new TextEditor()
    
</script>