#filebrowser {
    margin:0px 0px;
    flex:1;
    margin-top:0px;
    border-right:1px solid rgb(50,50,50);
    outline:none;
}
#fb_dir {
    padding:6px 0px;
    flex:1;
    overflow:auto;
    font-size:0.8rem;
}
.fb-folder, .fb-file {
    opacity:0.75;
    cursor:pointer;
    padding:2px 8px;
    user-select:none;
}
.fb-folder {
    color:rgb(63,141,249);
    /*color:rgb(63,249,234);*/
}

.fb-file {
    color:rgba(102,186,218,220);
}

.fb-folder.active, .fb-file.active {
    background:rgba(0,0,0,0.4);
}

.show_icons .fb-folder {
    background-position: left 8px top 3px;
    background-repeat: no-repeat;
    background-image: url(plugins/filebrowser/folder.svg);
    padding-left:28px;
    background-size:14px 14px;
}
#fb_dir.show_icons .fb-folder.expanded {
    background-image: url(plugins/filebrowser/folder_open.svg);
}
.show_icons .fb-file {
    background-position: left 8px top 2px;
    background-repeat: no-repeat;
    background-image: url(plugins/filebrowser/file.svg);
    padding-left:28px;
    background-size:14px 14px;
}
.fb-folder:hover, .fb-file:hover  {
    opacity:1;
}
.fb-subfolder {
    margin-left:12px;
    opacity:1;
}
#fb_dir.show_icons .fb-subfolder {
    margin-left:-12px;
}

.fb-file {
    color:rgb(178,190,194);
}

.show-color .ext-py {
    color:rgb(147,136,254);
}
/*#fb_dir .ext-py {*/
.fb-file.ext-py {
    /*color:rgb(136,168,254);*/
    background-image: url(plugins/filebrowser/ext/py.svg) !important;
}
.show-color .ext-js {
    color:rgb(254,201,136);
}
.fb-file.ext-js {
    background-image: url(plugins/filebrowser/ext/js.svg) !important;
}

.show-color .ext-json {
    color:rgb(234,211,172);
}

.fb-file.ext-json {
    background-image: url(plugins/filebrowser/ext/json.svg) !important;
}

.show-color .ext-html, .show-color .ext-thtml  {
    color:rgb(174,254,154);
}
.fb-file.ext-html, .fb-file.ext-thtml  {
    background-image: url(plugins/filebrowser/ext/html.svg) !important;
}

.show-color .ext-md {
    color:rgb(217,218,219);
}
.fb-file.ext-md {
    background-image: url(plugins/filebrowser/ext/md.svg) !important;
}

.show-color .ext-css, .show-color .ext-scss {
    color:rgb(254,136,164);
}
.fb-file.ext-css, .fb-file.ext-scss {
    background-image: url(plugins/filebrowser/ext/css.svg) !important;
}

.show-color .ext-sh, .show-color .ext-bat {
    color:rgb(252,254,136);
}
.fb-file.ext-sh, .fb-file.ext-bat {
    background-image: url(plugins/filebrowser/ext/sh.svg) !important;
}

.ext-png, 
.ext-jpg, 
.ext-bmp, 
.ext-ico, 
.ext-svg {
    color:rgb(102,203,218);
}

.fb-file.ext-png, 
.fb-file.ext-jpg, 
.fb-file.ext-bmp, 
.fb-file.ext-ico, 
.fb-file.ext-svg {
    background-image: url(plugins/filebrowser/ext/img.svg) !important;
}

/*#menu_filebrowser .menu-item {*/
/*    font-size:0.8rem;*/
/*}*/