
#pg_find_files {
    box-sizing:border-box;
}
#find_files_input_row {
    margin:4px;
}
#pg_find_files input {
/*    border:0px;*/
/*    background:rgb(10,10,10);*/
/*    color:white;*/
/*    border-radius:4px;*/
/*    padding:2px 6px;*/
    margin-right:4px;
    font-size:0.9rem;
/*    box-sizing:border-box;*/
/*    min-width:0;*/
}

#find_files_toolbar {
    margin:0px 4px;
}
#find_files_toolbar input {
    margin-right:4px;
    font-size:0.9rem;
}
#find_files_toolbar .scope-btn {
    /*font-size:1.4rem;*/
    padding:2px 8px !important;
    /*line-height:1.4rem;*/
    box-sizing:border-box;
    margin-right:4px;
}

.find_files-item {
    /*flex:1;*/
    /*overflow:auto;*/
    min-height:0;
    min-width:0;
    margin-top:6px;
}

#find_files_output {
    min-height:0;
    min-width:0;
    box-sizing:border-box;
    overflow:auto;
    
}

.find_files-expand {
    font-weight:bold;
    padding:0px 6px;
    box-sizing:border-box;
    opacity:0.8;
    cursor:pointer;
    font-size:1.2rem;
}

.find_files-expand:hover {
    opacity:1;
}

.find_files-file {
    font-size:0.8rem;
    cursor:pointer;
    /*color:rgb(227,244,169);*/
    color:rgba(102,186,218,220);
    word-wrap: break-word;
    opacity:0.8;
    overflow-x:hidden;
}
.find_files-file:hover {
    opacity:1;
    /*color:blue;*/
}

.find_files-cnt {
    font-size:0.7rem;
    color:rgba(102,186,218,220);
}

.find_files-line-container {
    margin-left:10px;
    background:rgb(10,10,10);
    border-radius:3px;
}

.find_files-line-container:not(.active) {
    display:none;
}

.find_files-line-row {
    font-size:0.7rem;
    padding:1px 6px;
    display:flex;
    flex-wrap:none;
    align-items:center;
    opacity:0.8;
}
.find_files-line-row:hover {
    opacity:1;
}
.find_files-line-cnt {
    width:50px;
    color:rgb(188,244,169);
    cursor:pointer;
}
.find_files-line-text {
    flex:1;
    /*white-space:pre-wrap;*/
    overflow-x:hidden;
}