/* Version 2.11.0    Copyright 2021-2024 pebble   Released under the MIT License */
.bg-h:hover {
  background: #a8dcff;
  cursor: pointer;
}

.bg-blue, .bg-blue-h {
  background: #2f8dd9 !important;
  color: white;
}

.bg-blue-h:hover {
  background: #2982c5 !important;
}

.bg-w {
  background: white !important;
}

.bg-red, .bg-red-h {
  background: #ff4e51 !important;
  color: white;
}

.bg-red-h:hover {
  background: #e1444e !important;
}

.bg-green, .bg-green-h {
  background: #2ab44d !important;
  color: white;
}

.bg-green-h:hover {
  background: #3ca648 !important;
}

.bg-yellow, .bg-yellow-h {
  background: #ffda7b !important;
}

.bg-yellow-h:hover {
  background: #f5ecb9 !important;
}

.bg-darkgray, .bg-darkgray-h {
  background: #4f5964 !important;
  color: white;
}

.bg-darkgray-h:hover {
  background: #3e454e !important;
}

.bg-gray, .bg-gray-h {
  background: #f2f3f5 !important;
}

.bg-gray-h:hover {
  background: #b1bac7 !important;
}

.bg-orange, .bg-orange-h {
  background: #ff8649 !important;
}

.bg-orange-h:hover {
  background: #e87a42 !important;
}

.bg-purple, .bg-purple-h {
  color: white;
  background: #7756b8 !important;
}

.bg-purple-h:hover {
  background: #624798 !important;
}

.clr-w {
  color: white !important;
}

.clr-blk {
  color: black !important;
}

.clr-gray {
  color: #f2f3f5;
}

.clr-darkgray {
  color: #4f5964;
}

.clr-text {
  color: #3c3c3c;
}

.clr-blue {
  color: #2f8dd9 !important;
}

.clr-red {
  color: #ff4e51 !important;
}

.clr-green {
  color: green !important;
}

.clr-yellow {
  color: yellow !important;
}

.clr-orange {
  color: orange !important;
}

.clr-purple {
  color: purple !important;
}

.pebble,
.dlg-message-content,
input.pebble, form.pebble input, .pebble input,
select.pebble[multiple], .pebble select[multiple],
.form-label,
.content,
.text,
.li-item,
.li-item-h,
.li-item-container-h .li-item,
.calendar-tbl, .cal-year-btn, .cal-month-btn {
  font-family: Ubuntu, Calibri, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, sans-serif;
  font-weight: 300;
}

.card-title,
.tab-bar,
.dlg-title,
.pebble h1, .pebble h2, .pebble h3, .pebble h4,
h1.pebble, h2.pebble, h3.pebble, h4.pebble {
  font-family: inherit;
}

table.pebble, .pebble table {
  font-family: inherit;
  font-weight: inherit;
}

.pebble h1, .pebble h2, .pebble h3, .pebble h4, .dlg-title,
h1.pebble, h2.pebble, h3.pebble, h4.pebble {
  font-weight: 400;
  color: #3c3c3c;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.text, .text-content, .text-sm, .text-lg, .text-md {
  font-weight: 300;
  box-sizing: border-box;
}

.text-content {
  font-size: 1.1rem;
  box-sizing: border-box;
}

.text-content img {
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100%;
  display: block;
}

.text-sm {
  font-size: 0.8rem;
}

.text-md {
  font-size: 1.25rem;
}

.text-lg {
  font-size: 1.6rem;
}

.text-title, .card-title {
  font-size: 1.3em;
  font-weight: 400;
  box-sizing: border-box;
}

.text-thin {
  font-weight: 100;
}

.text-dim {
  opacity: 0.7;
}

.text-bold {
  font-weight: bold !important;
}

.text-italic {
  font-style: italic !important;
}

.card, .card-md, .card-sm {
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid gainsboro;
}

.card-title {
  padding: 8px;
}

.card img, .card-md img, .card-sm img {
  max-width: 100%;
  box-sizing: border-box;
}

.card-img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid gainsboro;
}

.card-sm {
  display: inline-block;
  width: 300px;
  max-width: 300px;
}

.card-md {
  display: inline-block;
  width: 500px;
  max-width: 500px;
}

.card-container .card, .card-container .card-sm, .card-container .card-md {
  flex-basis: auto;
  flex-grow: 1;
  margin: 4px;
}

.dlg-bg, .dlg-bg-temp {
  background: rgba(74, 86, 100, 0.7);
  z-index: 200 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dlg-bg-temp {
  z-index: 220 !important;
}

.dlg-bg:not(.active), .dlg-bg-temp:not(.active) {
  display: none;
}

.dlg-bg-temp:not(.active) {
  display: flex;
}

.dlg-frame, .dlg-frame-none, .dlg-frame-wide {
  position: relative;
  background: white;
  border-radius: 3px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02) !important;
  min-width: 350px;
  max-width: 90vw;
  max-width: 900px;
  box-sizing: border-box;
  padding: 0px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.dlg-frame > .btn-close, .dlg-frame-none > .btn-close, .dlg-frame-wide > .btn-close {
  position: absolute;
  right: 6px;
}

.dlg-frame-wide {
  min-width: 600px;
  max-width: 90vw;
}

.dlg-frame-none {
  background: transparent;
  width: auto;
  max-width: initial;
  border: 0px;
  box-shadow: none !important;
}

.dlg-frame-none .btn-close {
  position: fixed;
  right: 4px;
  top: 4px;
  color: gainsboro;
  font-size: 2rem !important;
  font-weight: normal;
}

.dlg-frame-none .btn-close:hover {
  color: white;
}

.dlg-img {
  max-width: 100%;
  box-sizing: border-box;
  max-height: calc(90vh - 80px) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.dlg-frame-full {
  top: 24px;
  bottom: 24px;
  left: 24px;
  right: 24px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02) !important;
  position: fixed;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.dlg-title-frame, .dlg-no-title-frame {
  padding-right: 4px;
  min-height: initial !important;
}

.dlg-title-frame .btn-close, .dlg-no-title-frame .btn-close {
  font-size: 1.8rem !important;
}

.dlg-title {
  flex: 1;
  font-size: 1.3rem;
  padding: 10px 12px;
  box-sizing: border-box;
  text-align: center;
}

.dlg-spacer {
  height: 20px;
}

.dlg-content {
  padding: 12px 16px;
  color: #505050;
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}

.dlg-bottom {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 10px;
  text-align: center;
}

.dlg-bottom .btn, .dlg-bottom input[type=button].pebble, .dlg-bottom .pebble input[type=button], .pebble .dlg-bottom input[type=button],
.dlg-bottom input[type=submit].pebble, .dlg-bottom .pebble input[type=submit], .pebble .dlg-bottom input[type=submit],
.dlg-bottom input[type=reset].pebble, .dlg-bottom .pebble input[type=reset], .pebble .dlg-bottom input[type=reset], .dlg-bottom select.pebble:not([multiple]):not([size]), .dlg-bottom .form-row select:not([multiple]):not([size]), .form-row .dlg-bottom select:not([multiple]):not([size]),
.dlg-bottom .pebble select:not([multiple]):not([size]),
.pebble .dlg-bottom select:not([multiple]):not([size]), .dlg-bottom .btn-img, .dlg-bottom .btn-close, .dlg-bottom .btn-sm, .dlg-bottom .btn-img-sm, .dlg-bottom .pebble button.btn-sm, .dlg-bottom .pebble button.btn-img-sm, .pebble .dlg-bottom button.btn-sm, .pebble .dlg-bottom button.btn-img-sm, .dlg-bottom .btn-lg, .dlg-bottom .btn-img-lg, .dlg-bottom .pebble button.btn-lg, .dlg-bottom .pebble button.btn-img-lg, .pebble .dlg-bottom button.btn-lg, .pebble .dlg-bottom button.btn-img-lg, .dlg-bottom button {
  min-width: 80px;
}

.dlg-frame .li-item, .dlg-frame .li-item-h, .dlg-frame-wide .li-item, .dlg-frame-wide .li-item-h, .dlg-frame-none .li-item, .dlg-frame-none .li-item-h {
  padding: 0.5rem 1.0rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.dlg-frame .li-item:hover, .dlg-frame .li-item-h:hover, .dlg-frame-wide .li-item:hover, .dlg-frame-wide .li-item-h:hover, .dlg-frame-none .li-item:hover, .dlg-frame-none .li-item-h:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.pebble {
  color: #3c3c3c;
}

.pebble * {
  box-sizing: border-box;
}

html.pebble, body.pebble {
  height: 100%;
  margin: 0;
}

.pebble a, .pebble a:visited {
  color: #1a63a3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.pebble a:hover {
  color: #1e76c3;
}

.btn, input[type=button].pebble, .pebble input[type=button],
input[type=submit].pebble, .pebble input[type=submit],
input[type=reset].pebble, .pebble input[type=reset], select.pebble:not([multiple]):not([size]), .form-row select:not([multiple]):not([size]),
.pebble select:not([multiple]):not([size]), .btn-img, .btn-close, .btn-sm, .btn-img-sm, .pebble button.btn-sm, .pebble button.btn-img-sm, .btn-lg, .btn-img-lg, .pebble button.btn-lg, .pebble button.btn-img-lg, button.pebble, .pebble button {
  border: none;
  border-radius: 4px;
  background: whitesmoke;
  background: linear-gradient(to bottom, whitesmoke 0%, #ebebeb 100%);
  padding: .45rem .9rem;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 2px;
  font-family: inherit;
}

.btn:disabled, input[type=button].pebble:disabled, .pebble input[type=button]:disabled,
input[type=submit].pebble:disabled, .pebble input[type=submit]:disabled,
input[type=reset].pebble:disabled, .pebble input[type=reset]:disabled, select.pebble:disabled:not([multiple]):not([size]), .form-row select:disabled:not([multiple]):not([size]),
.pebble select:disabled:not([multiple]):not([size]), .btn-img:disabled, .btn-close:disabled, .btn-sm:disabled, .btn-img-sm:disabled, .btn-lg:disabled, .btn-img-lg:disabled, button.pebble:disabled, .pebble button:disabled {
  cursor: default;
}

.btn:hover, input[type=button].pebble:hover, .pebble input[type=button]:hover,
input[type=submit].pebble:hover, .pebble input[type=submit]:hover,
input[type=reset].pebble:hover, .pebble input[type=reset]:hover, select.pebble:hover:not([multiple]):not([size]), .form-row select:hover:not([multiple]):not([size]),
.pebble select:hover:not([multiple]):not([size]), .btn-img:hover, .btn-close:hover, .btn-sm:hover, .btn-img-sm:hover, .btn-lg:hover, .btn-img-lg:hover, button.pebble:hover, .pebble button:hover {
  background: #ebebeb;
  background: linear-gradient(to bottom, #ebebeb 0%, #e1e1e1 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-lg, .btn-img-lg, .pebble button.btn-lg, .pebble button.btn-img-lg {
  padding: .45rem 1.45rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.btn-sm, .btn-img-sm, .pebble button.btn-sm, .pebble button.btn-img-sm {
  padding: .2rem .6rem;
  font-size: 0.8rem;
  line-height: 1rem;
}

.btn-close {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: none !important;
  border: 0  !important;
  box-shadow: none !important;
  padding: 0.14rem 0.2rem !important;
  font-size: 1.6rem !important;
  line-height: 1.6rem !important;
}

.btn-close:after {
  content: '\00D7';
}

.btn-close:hover {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.btn-clear {
  background: transparent !important;
  box-shadow: none !important;
  border: 0;
  opacity: 0.8;
  cursor: pointer;
}

.btn-clear:hover {
  opacity: 1;
}

.btn-h {
  opacity: 0.8;
  cursor: pointer;
}

.btn-h:hover {
  opacity: 1;
}

.btn img, input[type=button].pebble img, .pebble input[type=button] img,
input[type=submit].pebble img, .pebble input[type=submit] img,
input[type=reset].pebble img, .pebble input[type=reset] img, select.pebble:not([multiple]):not([size]) img, .form-row select:not([multiple]):not([size]) img,
.pebble select:not([multiple]):not([size]) img, .btn-img img, button.pebble img, .btn-lg img, .btn-img-lg img, .pebble button.btn-lg img, .pebble button.btn-img-lg img, .btn-sm img, .btn-img-sm img, .pebble button.btn-sm img, .pebble button.btn-img-sm img, .btn-close img, .pebble button img,
.btn svg,
input[type=button].pebble svg,
.pebble input[type=button] svg,
input[type=submit].pebble svg,
.pebble input[type=submit] svg,
input[type=reset].pebble svg,
.pebble input[type=reset] svg,
select.pebble:not([multiple]):not([size]) svg,
.form-row select:not([multiple]):not([size]) svg,
.pebble select:not([multiple]):not([size]) svg,
.btn-img svg,
button.pebble svg,
.btn-lg svg,
.btn-img-lg svg,
.pebble button.btn-lg svg,
.pebble button.btn-img-lg svg,
.btn-sm svg,
.btn-img-sm svg,
.pebble button.btn-sm svg,
.pebble button.btn-img-sm svg,
.btn-close svg, .pebble button svg,
.btn i,
input[type=button].pebble i,
.pebble input[type=button] i,
input[type=submit].pebble i,
.pebble input[type=submit] i,
input[type=reset].pebble i,
.pebble input[type=reset] i,
select.pebble:not([multiple]):not([size]) i,
.form-row select:not([multiple]):not([size]) i,
.pebble select:not([multiple]):not([size]) i,
.btn-img i,
button.pebble i,
.btn-lg i,
.btn-img-lg i,
.pebble button.btn-lg i,
.pebble button.btn-img-lg i,
.btn-sm i,
.btn-img-sm i,
.pebble button.btn-sm i,
.pebble button.btn-img-sm i,
.btn-close i, .pebble button i {
  height: 1.4rem;
  vertical-align: top;
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;
  margin-right: 0.4rem;
  box-sizing: border-box;
}

.btn img:after, input[type=button].pebble img:after, .pebble input[type=button] img:after,
input[type=submit].pebble img:after, .pebble input[type=submit] img:after,
input[type=reset].pebble img:after, .pebble input[type=reset] img:after, select.pebble:not([multiple]):not([size]) img:after, .form-row select:not([multiple]):not([size]) img:after,
.pebble select:not([multiple]):not([size]) img:after, .btn-img img:after, button.pebble img:after, .btn-lg img:after, .btn-img-lg img:after, .pebble button.btn-lg img:after, .pebble button.btn-img-lg img:after, .btn-sm img:after, .btn-img-sm img:after, .pebble button.btn-sm img:after, .pebble button.btn-img-sm img:after, .btn-close img:after {
  margin-right: 1rem;
}

.btn-lg img, .btn-img-lg img, .pebble button.btn-lg img {
  height: 2rem;
  margin-top: 0px;
}

.btn-sm img, .btn-img-sm img, .pebble button.btn-sm img {
  height: 1rem;
  margin-top: 0px;
}

.btn-img {
  padding: .45rem .45rem !important;
}

.btn-img img, .btn-img svg, .btn-img i {
  height: 1.5rem !important;
  margin: -0.25rem 0px -0.25rem 0px !important;
}

.btn-img-sm {
  padding: .2rem .2rem !important;
}

.btn-img-sm img, .btn-img-sm svg {
  height: 1.2rem !important;
  margin: -0.1rem 0px -0.1rem 0px !important;
}

.btn-img-lg {
  padding: .43rem 0.43rem !important;
}

.btn-img-lg img, .btn-img-lg svg {
  height: 2.4rem !important;
  line-height: 2.4rem;
  margin: -0.2rem 0px -0.2rem 0px !important;
}

.btn-group, .btn-toggle-group {
  display: inline-flex;
}

.btn-group .btn, .btn-group input[type=button].pebble, .btn-group .pebble input[type=button], .pebble .btn-group input[type=button],
.btn-group input[type=submit].pebble, .btn-group .pebble input[type=submit], .pebble .btn-group input[type=submit],
.btn-group input[type=reset].pebble, .btn-group .pebble input[type=reset], .pebble .btn-group input[type=reset], .btn-group select.pebble:not([multiple]):not([size]), .btn-group .form-row select:not([multiple]):not([size]), .form-row .btn-group select:not([multiple]):not([size]),
.btn-group .pebble select:not([multiple]):not([size]),
.pebble .btn-group select:not([multiple]):not([size]), .btn-toggle-group .btn, .btn-toggle-group input[type=button].pebble, .btn-toggle-group .pebble input[type=button], .pebble .btn-toggle-group input[type=button],
.btn-toggle-group input[type=submit].pebble, .btn-toggle-group .pebble input[type=submit], .pebble .btn-toggle-group input[type=submit],
.btn-toggle-group input[type=reset].pebble, .btn-toggle-group .pebble input[type=reset], .pebble .btn-toggle-group input[type=reset], .btn-toggle-group select.pebble:not([multiple]):not([size]), .btn-toggle-group .form-row select:not([multiple]):not([size]), .form-row .btn-toggle-group select:not([multiple]):not([size]),
.btn-toggle-group .pebble select:not([multiple]):not([size]),
.pebble .btn-toggle-group select:not([multiple]):not([size]), .btn-group button.pebble, .btn-toggle-group button.pebble, .btn-group .btn-lg, .btn-toggle-group .btn-lg, .btn-group .pebble button.btn-lg, .btn-toggle-group .pebble button.btn-lg, .pebble .btn-group button.btn-lg, .pebble .btn-toggle-group button.btn-lg, .btn-group .btn-sm, .btn-toggle-group .btn-sm, .btn-group .pebble button.btn-sm, .btn-toggle-group .pebble button.btn-sm, .pebble .btn-group button.btn-sm, .pebble .btn-toggle-group button.btn-sm, .btn-group .btn-close, .btn-toggle-group .btn-close, .btn-group .btn-img, .btn-toggle-group .btn-img, .btn-group .btn-img-sm, .btn-toggle-group .btn-img-sm, .btn-group .pebble button.btn-img-sm, .btn-toggle-group .pebble button.btn-img-sm, .pebble .btn-group button.btn-img-sm, .pebble .btn-toggle-group button.btn-img-sm, .btn-group .btn-img-lg, .btn-toggle-group .btn-img-lg, .btn-group .pebble button.btn-img-lg, .btn-toggle-group .pebble button.btn-img-lg, .pebble .btn-group button.btn-img-lg, .pebble .btn-toggle-group button.btn-img-lg {
  border-radius: 0px;
  margin: 0px;
}

.btn-group .btn:first-child, .btn-group input[type=button].pebble:first-child, .btn-group .pebble input[type=button]:first-child, .pebble .btn-group input[type=button]:first-child,
.btn-group input[type=submit].pebble:first-child, .btn-group .pebble input[type=submit]:first-child, .pebble .btn-group input[type=submit]:first-child,
.btn-group input[type=reset].pebble:first-child, .btn-group .pebble input[type=reset]:first-child, .pebble .btn-group input[type=reset]:first-child, .btn-group select.pebble:first-child:not([multiple]):not([size]), .btn-group .form-row select:first-child:not([multiple]):not([size]), .form-row .btn-group select:first-child:not([multiple]):not([size]),
.btn-group .pebble select:first-child:not([multiple]):not([size]),
.pebble .btn-group select:first-child:not([multiple]):not([size]), .btn-toggle-group .btn:first-child, .btn-toggle-group input[type=button].pebble:first-child, .btn-toggle-group .pebble input[type=button]:first-child, .pebble .btn-toggle-group input[type=button]:first-child,
.btn-toggle-group input[type=submit].pebble:first-child, .btn-toggle-group .pebble input[type=submit]:first-child, .pebble .btn-toggle-group input[type=submit]:first-child,
.btn-toggle-group input[type=reset].pebble:first-child, .btn-toggle-group .pebble input[type=reset]:first-child, .pebble .btn-toggle-group input[type=reset]:first-child, .btn-toggle-group select.pebble:first-child:not([multiple]):not([size]), .btn-toggle-group .form-row select:first-child:not([multiple]):not([size]), .form-row .btn-toggle-group select:first-child:not([multiple]):not([size]),
.btn-toggle-group .pebble select:first-child:not([multiple]):not([size]),
.pebble .btn-toggle-group select:first-child:not([multiple]):not([size]), .btn-group button.pebble:first-child, .btn-toggle-group button.pebble:first-child, .btn-group .btn-lg:first-child, .btn-toggle-group .btn-lg:first-child, .btn-group .btn-sm:first-child, .btn-toggle-group .btn-sm:first-child, .btn-group .btn-close:first-child, .btn-toggle-group .btn-close:first-child, .btn-group .btn-img:first-child, .btn-toggle-group .btn-img:first-child, .btn-group .btn-img-sm:first-child, .btn-toggle-group .btn-img-sm:first-child, .btn-group .btn-img-lg:first-child, .btn-toggle-group .btn-img-lg:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group .btn:last-child, .btn-group input[type=button].pebble:last-child, .btn-group .pebble input[type=button]:last-child, .pebble .btn-group input[type=button]:last-child,
.btn-group input[type=submit].pebble:last-child, .btn-group .pebble input[type=submit]:last-child, .pebble .btn-group input[type=submit]:last-child,
.btn-group input[type=reset].pebble:last-child, .btn-group .pebble input[type=reset]:last-child, .pebble .btn-group input[type=reset]:last-child, .btn-group select.pebble:last-child:not([multiple]):not([size]), .btn-group .form-row select:last-child:not([multiple]):not([size]), .form-row .btn-group select:last-child:not([multiple]):not([size]),
.btn-group .pebble select:last-child:not([multiple]):not([size]),
.pebble .btn-group select:last-child:not([multiple]):not([size]), .btn-toggle-group .btn:last-child, .btn-toggle-group input[type=button].pebble:last-child, .btn-toggle-group .pebble input[type=button]:last-child, .pebble .btn-toggle-group input[type=button]:last-child,
.btn-toggle-group input[type=submit].pebble:last-child, .btn-toggle-group .pebble input[type=submit]:last-child, .pebble .btn-toggle-group input[type=submit]:last-child,
.btn-toggle-group input[type=reset].pebble:last-child, .btn-toggle-group .pebble input[type=reset]:last-child, .pebble .btn-toggle-group input[type=reset]:last-child, .btn-toggle-group select.pebble:last-child:not([multiple]):not([size]), .btn-toggle-group .form-row select:last-child:not([multiple]):not([size]), .form-row .btn-toggle-group select:last-child:not([multiple]):not([size]),
.btn-toggle-group .pebble select:last-child:not([multiple]):not([size]),
.pebble .btn-toggle-group select:last-child:not([multiple]):not([size]), .btn-group button.pebble:last-child, .btn-toggle-group button.pebble:last-child, .btn-group .btn-lg:last-child, .btn-toggle-group .btn-lg:last-child, .btn-group .btn-sm:last-child, .btn-toggle-group .btn-sm:last-child, .btn-group .btn-close:last-child, .btn-toggle-group .btn-close:last-child, .btn-group .btn-img:last-child, .btn-toggle-group .btn-img:last-child, .btn-group .btn-img-sm:last-child, .btn-toggle-group .btn-img-sm:last-child, .btn-group .btn-img-lg:last-child, .btn-toggle-group .btn-img-lg:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group .separator, .btn-toggle-group .separator {
  width: 0.6rem;
  background: #ebebeb;
  background: #d2d2d2;
  background: linear-gradient(to bottom, #ebebeb 0%, #e1e1e1 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-toggle-group .btn:not(.active), .btn-toggle-group input[type=button].pebble:not(.active), .btn-toggle-group .pebble input[type=button]:not(.active), .pebble .btn-toggle-group input[type=button]:not(.active),
.btn-toggle-group input[type=submit].pebble:not(.active), .btn-toggle-group .pebble input[type=submit]:not(.active), .pebble .btn-toggle-group input[type=submit]:not(.active),
.btn-toggle-group input[type=reset].pebble:not(.active), .btn-toggle-group .pebble input[type=reset]:not(.active), .pebble .btn-toggle-group input[type=reset]:not(.active), .btn-toggle-group select.pebble:not(.active):not([multiple]):not([size]), .btn-toggle-group .form-row select:not(.active):not([multiple]):not([size]), .form-row .btn-toggle-group select:not(.active):not([multiple]):not([size]),
.btn-toggle-group .pebble select:not(.active):not([multiple]):not([size]),
.pebble .btn-toggle-group select:not(.active):not([multiple]):not([size]), .btn-toggle-group button.pebble:not(.active), .btn-toggle-group .btn-lg:not(.active), .btn-toggle-group .btn-sm:not(.active), .btn-toggle-group .btn-close:not(.active), .btn-toggle-group .btn-img:not(.active), .btn-toggle-group .btn-img-sm:not(.active), .btn-toggle-group .btn-img-lg:not(.active) {
  opacity: 0.5;
}

.btn-toggle-group .separator {
  opacity: 0.7;
}

.sticker {
  display: inline-flex;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 0.85rem;
  padding: .35em .5em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.notify {
  background: #91bfde;
  border-radius: 4px;
  padding: 1rem;
  padding-right: 2rem;
  margin: 10px 0px;
  background: rgba(183, 221, 255, 0.9);
  color: rgba(40, 48, 56, 0.9);
  position: relative;
  box-sizing: border-box;
}

.notify .btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.pebble img, img.pebble {
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100%;
}

img.contain {
  object-fit: contain;
}

img.cover {
  object-fit: cover;
}

.chevron-t:before,
.chevron-r:before,
.chevron-b:before,
.chevron-l:before {
  border-style: solid;
  border-width: 0.12em 0.12em 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  position: relative;
  box-sizing: border-box;
  border-top-right-radius: 0.12em;
  /*left: 0.25em;*/
  top: -0.12em;
  /*vertical-align: top;*/
}

.chevron-t:before {
  transform: rotate(-45deg);
  top: 0.08em;
}

.chevron-b:before {
  top: -0.15em;
  transform: rotate(135deg);
}

.chevron-l:before {
  left: 0.15em;
  transform: rotate(-135deg);
}

.chevron-r:before {
  left: -0.15em;
  transform: rotate(45deg);
}

pre.pebble, .pebble pre {
  background: whitesmoke;
  border-radius: 4px;
  border: 1px solid gainsboro;
  padding: 0.8em;
  box-sizing: border-box;
}

pre.pebble code, .pebble pre code {
  background: none;
  border: none;
  padding: 0px;
  display: block;
}

code.pebble, .pebble code {
  padding: 0.1em 0.3em;
  background: whitesmoke;
  border-radius: 4px;
  border: 1px solid gainsboro;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.pebble hr, hr.pebble {
  border: 0px;
  border-top: 1px solid #b4b4b4;
}

template {
  display: none;
}

iframe.pebble {
  border: 0px;
  display: block;
}

.flex-row, .tab-bar, .form-row, .flex-row-c, .flex-container, .card-container, .dlg-title-frame, .dlg-no-title-frame {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

.flex-col, .li-item-container, .li-item-container-h, .tab-container, .form-row.wide {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

.flex-container, .card-container {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.flex-center, .flex-row-c {
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.i-flex {
  display: inline-flex;
  box-sizing: border-box;
}

.flex {
  flex: 1;
}

.flex-0 {
  flex-grow: 0 !important;
  flex-shrink: 1 !important;
  flex-basis: auto !important;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-row-break {
  flex-basis: 100%;
}

.col-20, .col-25, .col-34, .col-33, .col-40, .col-50, .col-60, .col-66, .col-67, .col-75, .col-80 {
  box-sizing: border-box;
  overflow-x: hidden;
  flex-grow: 1;
}

.col-20 {
  flex-basis: 20%;
}

.col-25 {
  flex-basis: 25%;
}

.col-34, .col-33 {
  flex-basis: 34%;
}

.col-40 {
  flex-basis: 40%;
}

.col-50 {
  flex-basis: 50%;
}

.col-60 {
  flex-basis: 60%;
}

.col-66, .col-67 {
  flex-basis: 66%;
}

.col-75 {
  flex-basis: 75%;
}

.col-80 {
  flex-basis: 80%;
}

input.pebble:not([type=checkbox]):not([type=radio]):not([type=button]),
form.pebble input:not([type=checkbox]):not([type=radio]):not([type=button]),
.form-row input:not([type=checkbox]):not([type=radio]):not([type=button]),
.pebble input:not([type=checkbox]):not([type=radio]):not([type=button]),
textarea.pebble, .pebble textarea,
.form-row textarea {
  padding: .37rem .59rem;
  border-radius: 4px;
  margin: 1px 0px;
  border: 1px solid gainsboro;
  box-shadow: inset 0 1px 2px rgba(80, 80, 80, 0.15);
  box-sizing: border-box;
  min-width: 0;
}

input.pebble:not([type=checkbox]):not([type=radio]):not([type=button]),
form.pebble input:not([type=checkbox]):not([type=radio]):not([type=button]),
.form-row input:not([type=checkbox]):not([type=radio]):not([type=button]),
.pebble input:not([type=checkbox]):not([type=radio]):not([type=button]) {
  font-size: 1rem;
  line-height: 1rem;
}

.form-row select[multiple],
.form-row select[size]:not([size='1']) {
  box-shadow: inset 0 1px 3px rgba(80, 80, 80, 0.2);
  font-size: 1.1rem;
  border-radius: 4px;
  margin: 2px 0px;
  border: 1px solid gainsboro;
}

select:not([multiple]):not([size]).pebble, .form-row select:not([multiple]):not([size]),
.pebble select:not([multiple]):not([size]) {
  padding: .32rem .59rem;
}

textarea.pebble, .pebble textarea {
  height: 4.8rem;
  box-sizing: border-box;
  resize: none;
  font-size: 0.9rem;
  line-height: 0.9rem;
}

select.pebble[multiple], .pebble select[multiple],
.pebble select[size]:not([size='1']), select.pebble[size]:not([size='1']) {
  border-radius: 4px;
  border: 1px solid gainsboro;
  margin: 2px 0px;
  box-sizing: border-box;
}

select.pebble[multiple] option, .pebble select[multiple] option,
.pebble select[size]:not([size='1']) option, select.pebble[size]:not([size='1']) option {
  padding: .15rem .45rem;
  font-size: 1rem;
}

.form-row {
  align-items: center;
}

.form-label, .form-row label {
  flex-basis: 180px;
  text-align: right;
  padding: 0.5rem;
  box-sizing: border-box;
}

.form-label.required:after, .form-row.required label:after {
  margin-left: 2px;
  content: '*';
  opacity: 0.8;
}

.form-row.wide {
  align-items: stretch;
}

.form-row.wide .form-label, .form-row.wide label {
  flex-basis: 0;
  text-align: left;
  margin-top: 0.5rem;
  padding: 0.25rem 0px;
}

.form-field-container {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-align: left;
  flex: 1;
}

.form-row input:not([type=checkbox]),
.form-row textarea,
.form-row select {
  flex: 1;
}

.form-separator,
.form-separator-line {
  flex: 1;
  height: 1px;
  padding: 0px !important;
  margin: 0.8rem 0px !important;
  display: block;
  box-sizing: border-box;
}

.form-separator-line {
  background: #b4b4b4;
}

.form-heading {
  font-size: 1.3rem !important;
  font-weight: bold;
  flex: 1;
  text-align: left !important;
}

.form-note {
  font-size: 0.9rem !important;
  flex: 1;
  text-align: left !important;
  padding: 0.5rem 1rem !important;
  opacity: 0.8;
}

.form-rtext {
  padding-left: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

.form-viewonly .form-label, .form-viewonly label {
  opacity: 0.6;
  padding: 0.2rem 0.5rem;
}

.toggle-switch, .toggle-switch-sm, .toggle-switch-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.4rem;
  height: 1.2rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  background-color: #747780;
  background-color: #b1bac7;
  transition: background-color ease 0.4s;
  box-sizing: border-box;
  border: none !important;
  margin: 0px;
  box-shadow: 0px 0px 4px inset rgba(0, 0, 0, 0.1);
}

.toggle-switch:hover, .toggle-switch-sm:hover, .toggle-switch-lg:hover {
  outline: none;
}

.toggle-switch:before, .toggle-switch-sm:before, .toggle-switch-lg:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  width: calc(1.2rem - 4px);
  height: calc(1.2rem - 4px);
  background: #fff;
  background: linear-gradient(to top, #ebebeb 0%, #fafafa 100%);
  left: 2px;
  top: 2px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.toggle-switch:checked, .toggle-switch-sm:checked, .toggle-switch-lg:checked {
  background-color: #2f8dd9;
}

.toggle-switch:checked:before, .toggle-switch-sm:checked:before, .toggle-switch-lg:checked:before {
  left: calc(1.2rem + 2px);
}

.toggle-switch-lg {
  width: 3.12rem;
  height: 1.56rem;
}

.toggle-switch-lg:before {
  width: calc(1.56rem - 4px);
  height: calc(1.56rem - 4px);
}

.toggle-switch-lg:checked:before {
  left: calc(1.56rem + 2px);
}

.toggle-switch-sm {
  width: 1.8rem;
  height: 1rem;
}

.toggle-switch-sm:before {
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
}

.toggle-switch-sm:checked:before {
  left: calc(1rem - 1px);
}

.toggle-switch:disabled, .toggle-switch-lg:disabled, .toggle-switch-sm:disabled {
  cursor: default;
  opacity: 0.8;
}

.menu-container {
  min-width: 160px;
  background: #fafafa;
  position: fixed;
  z-index: 300;
  box-sizing: border-box;
}

.menu-container:not(.active) {
  display: none;
}

.menu-item {
  line-height: 1rem;
  font-size: 1rem;
  padding: 0.45rem 0.75rem;
  cursor: pointer;
  box-sizing: border-box;
  color: black;
  user-select: none;
}

.menu-item:hover {
  background: #9eddff;
}

.menu-item img, .menu-item i {
  height: 1rem;
  vertical-align: top;
  padding-right: 0.3rem;
  box-sizing: border-box;
}

.menu-separator {
  display: block;
  height: 1px;
  background: gainsboro;
}

.menu-bg {
  background: transparent;
  z-index: 290 !important;
}

.ignore {
  all: unset;
}

.hidden {
  display: none !important;
}

.clear-all {
  all: revert;
}

.initial-all {
  all: initial;
}

.block {
  display: block;
}

.i-block {
  display: inline-block;
  box-sizing: border-box;
}

.content {
  padding: 1rem;
  box-sizing: border-box;
}

.content img {
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100%;
}

.center-container, .center-container-sm, .center-container-md, .center-container-lg {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  max-width: 100%;
  box-sizing: border-box;
}

.center-container-lg {
  width: 1200px;
}

.center-container-md {
  width: 800px;
}

.center-container-sm {
  width: 600px;
}

.center-content {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.border-n {
  border: 0px;
}

.border {
  border: 1px solid gainsboro;
}

.border-t {
  border-top: 1px solid gainsboro;
}

.border-b {
  border-bottom: 1px solid gainsboro;
}

.border-l {
  border-left: 1px solid gainsboro;
}

.border-r {
  border-right: 1px solid gainsboro;
}

.border-n {
  border: 0px;
}

.rad, .rad-s {
  border-radius: 4px;
}

.rad-t {
  border-radius: 4px 4px 0 0;
}

.rad-b {
  border-radius: 0 0 4px 4px;
}

.rad-l {
  border-radius: 4px 0 4px 0;
}

.rad-r {
  border-radius: 0 4px 0 4px;
}

.wide {
  width: 100%;
  box-sizing: border-box;
}

.full-height {
  min-height: 1px;
  height: 100vh;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-y: auto;
}

.full-size, .full-size-bg, .dlg-bg, .dlg-bg-temp, .menu-bg {
  min-height: 0px;
  margin: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
}

.full-size-bg, .dlg-bg, .dlg-bg-temp, .menu-bg {
  width: 100vw;
  z-index: -1;
}

.margin {
  margin: 1rem;
}

.margin-t {
  margin-top: 1rem;
}

.margin-b {
  margin-bottom: 1rem;
}

.margin-l {
  margin-left: 1rem;
}

.margin-r {
  margin-right: 1rem;
}

.margin-sm {
  margin: 0.5rem;
}

.margin-sm-t {
  margin-top: 0.5rem;
}

.margin-sm-b {
  margin-bottom: 0.5rem;
}

.margin-sm-l {
  margin-left: 0.5rem;
}

.margin-sm-r {
  margin-right: 0.5rem;
}

.margin-lg {
  margin: 1.5rem;
}

.margin-lg-t {
  margin-top: 1.5rem;
}

.margin-lg-b {
  margin-bottom: 1.5rem;
}

.margin-lg-l {
  margin-left: 1.5rem;
}

.margin-lg-r {
  margin-right: 1.5rem;
}

.margin-n, .space-n {
  margin: 0px;
}

.margin-a {
  margin: auto;
}

.spacer {
  display: block;
  min-height: 20px;
}

.spacer-lg {
  display: block;
  min-height: 40px;
}

.spacer-sm {
  display: block;
  min-height: 10px;
}

.space {
  min-height: 1em;
  width: 1.5em;
  display: inline-block;
}

.space-sm {
  min-height: 1em;
  width: 1em;
}

.space-lg {
  min-height: 1em;
  width: 2em;
}

.divider {
  height: 1px;
  width: 100%;
  box-sizing: border-box;
  background: #b4b4b4;
}

.pad-n, .space-n {
  padding: 0px !important;
}

.pad {
  padding: 0.6rem !important;
}

.pad-lg {
  padding: 1.5rem !important;
}

.pad-sm {
  padding: 0.3rem !important;
}

.pad-l {
  padding-left: 0.6rem !important;
}

.pad-r {
  padding-right: 0.6rem !important;
}

.pad-t {
  padding-top: 0.6rem !important;
}

.pad-b {
  padding-bottom: 0.6rem !important;
}

.pad-sm-l {
  padding-left: 0.3rem !important;
}

.pad-sm-r {
  padding-right: 0.3rem !important;
}

.pad-sm-t {
  padding-top: 0.3rem !important;
}

.pad-sm-b {
  padding-bottom: 0.3rem !important;
}

.pad-lg-l {
  padding-left: 1.5rem !important;
}

.pad-lg-r {
  padding-right: 1.5rem !important;
}

.pad-lg-t {
  padding-top: 1.5rem !important;
}

.pad-lg-b {
  padding-bottom: 1.5rem !important;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

.valign-t {
  vertical-align: top;
}

.valign-m {
  vertical-align: middle;
}

.valign-b {
  vertical-align: bottom;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.shadow, .sticker, .menu-container, .rad-s {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02) !important;
}

.shadow-lg {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -2px 0px rgba(0, 0, 0, 0.02) !important;
}

.shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}

.shadow-l {
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
}

.shadow-r, .panel-l, .panel-r {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}

.shadow-in {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pointer, .cursor-p {
  cursor: pointer;
}

.cursor-d {
  cursor: default;
}

.select-n, .tab-bar .tab, .tab-bar .tab-first, .tab-bar .tab-last {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.opacity-h {
  opacity: 0.8;
}

.opacity-h:hover {
  opacity: 1;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* width */
.scrollbar::-webkit-scrollbar, .dlg-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track, .dlg-content::-webkit-scrollbar-track {
  box-shadow: none;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb, .scrollbar-dark::-webkit-scrollbar-thumb, .dlg-content::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.2);
}

.scrollbar::-webkit-scrollbar-corner, .dlg-content::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.2);
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

.page-break {
  display: none;
}

.print-only {
  display: none;
}

@media print {
  .page-break {
    display: initial;
    page-break-after: always;
  }
  .print-only {
    display: initial;
  }
  .print-hidden {
    display: none;
  }
}

table.pebble, .pebble table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
  color: #3c3c3c;
}

table.pebble tr th, .pebble table tr th {
  background: whitesmoke;
}

table.pebble tr th,
table.pebble tr td, .pebble table tr th,
.pebble table tr td {
  border: 1px solid gainsboro;
  padding: 0.3rem 0.4rem;
}

.tbl-row-index {
  font-size: 0.8rem;
  font-weight: normal !important;
  color: #646464;
}

.tbl-highlight tbody tr:hover {
  background: whitesmoke;
}

.tbl-highlight tbody tr td[contenteditable="true"]:focus {
  background: white;
}

.tbl-highlight tbody tr:hover .tbl-row-index {
  background: #ebebeb;
}

.table-fixed-container {
  overflow-y: auto;
  border: 1px solid gainsboro;
}

.table-fixed-container thead th {
  box-shadow: inset 0 -1px 0 gainsboro;
}

.table-fixed-container th {
  position: sticky;
  top: 0;
  border: 0px !important;
  border-right: 1px solid gainsboro !important;
}

.table-fixed-container tbody th {
  position: sticky;
  left: 0;
  border-right: 0px !important;
  border-bottom: 1px solid gainsboro !important;
  box-shadow: inset -1px 0px 0 gainsboro;
}

.table-fixed-container td {
  border-top: 0px !important;
  border-left: 0px !important;
}

.table-fixed-container .cell-corner {
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
  border: 0px !important;
  box-shadow: inset 0 -1px 0 gainsboro, inset -1px 0px 0 gainsboro;
}

.table-fixed-container .tbl-row-index {
  left: 0px;
  position: sticky;
  border-bottom: 1px solid gainsboro !important;
}

.sortable thead th:not(.sort-none):hover {
  color: black;
  cursor: pointer;
}

.sortable thead th:not(.sort-none):hover::after {
  content: ' \025B4';
  opacity: 0.6;
}

.sortable thead th:not(.sort-none)::after, .spreadsheet-sortable thead th:not(.sort-none)::after {
  opacity: 0;
  content: ' \025B8';
  margin-left: 0.2em;
}

.sortable thead th.sort-asc::after, .spreadsheet thead th.sort-asc::after {
  opacity: 0.6;
  content: ' \025B4';
}

.sortable thead th.sort-desc::after, .sortable thead th.sort-desc:hover::after, .spreadsheet thead th.sort-desc::after, .spreadsheet thead th.sort-desc:hover::after {
  opacity: 0.6;
  content: ' \025BE';
}

.sort-asc::after {
  opacity: 0.6;
  content: ' \025B4';
  margin-left: 0.2em;
}

.sort-desc::after {
  opacity: 0.6;
  margin-left: 0.2em;
  content: ' \025BE';
}

.sort-blank::after {
  margin-left: 0.2em;
  content: ' \025B8';
}

th.cell-corner::after {
  content: '' !important;
  cursor: default !important;
}

.table-container {
  font-family: inherit;
}

table.spreadsheet {
  font-family: inherit;
  background: white;
  color: #3c3c3c;
  border-spacing: 0;
  user-select: none;
  outline: none;
  border-collapse: separate;
}

table.spreadsheet tr th, table.spreadsheet tr td {
  border: 1px solid rgba(50, 50, 50, 0.1);
  text-align: center;
  padding: 0.06rem 0.12rem;
  height: 1.12rem;
  overflow: hidden;
}

table.spreadsheet th {
  top: 0;
  position: sticky;
  background: gainsboro;
  background: linear-gradient(to bottom, #f0f0f0 0%, #e6e6e6 100%);
  font-weight: normal;
  font-size: 0.9rem;
  box-sizing: border-box;
  user-select: none;
}

table.spreadsheet thead th {
  padding: 2px 4px;
  padding-left: 8px;
}

table.spreadsheet .cell-corner {
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
}

table.spreadsheet .tbl-row-index {
  left: 0px;
  position: sticky;
}

table.spreadsheet .td_url {
  color: #1a63a3;
}

table.spreadsheet input {
  margin: 0px !important;
  font: inherit;
  font-size: inherit;
}

table.spreadsheet input[type="date"] {
  font-size: 0.8rem;
}

table.spreadsheet select {
  font-size: inherit !important;
  font-family: inherit !important;
  padding: initial !important;
  margin: 0px !important;
  text-align: center;
  color: inherit;
  background: inherit;
}

/*---Selection*/
table.spreadsheet tr.selected td, table.spreadsheet tr.selected th {
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

table.spreadsheet tr.selected th {
  color: black;
}

table.spreadsheet td.selected {
  border: 1px solid #141414 !important;
}

.page {
  box-sizing: border-box;
}

.page:not(.active) {
  display: none !important;
}

.tab-container {
  border-radius: 4px;
  box-sizing: border-box;
}

.tab-bar {
  position: relative;
}

.tab-bar .tab, .tab-bar .tab-first, .tab-bar .tab-last {
  padding: .37rem .89rem .29rem .89rem;
  background: whitesmoke;
  border-top: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  color: #787878;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  min-width: 0px;
  position: relative;
  margin-top: auto;
}

.tab-bar .tab > .btn-close {
  font-size: 1.1rem !important;
  line-height: 1.1rem !important;
  padding: 0px !important;
  margin: 0px;
  margin-right: -0.25rem;
  margin-left: 0.5rem !important;
}

.tab-bar .tab.flex > .btn-close {
  float: right;
}

.tab-bar .tab:first-child, .tab-bar .tab-first {
  border-left: 1px solid gainsboro;
  border-top-left-radius: 4px;
}

.tab-bar .tab:last-child, .tab-bar .tab-last {
  border-top-right-radius: 4px;
  border-right: 1px solid gainsboro;
}

.tab-bar .tab:hover {
  color: black;
}

.tab-bar .tab.active {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid gainsboro;
  color: #3c3c3c;
}

.tab-bar .tab.flex:last-child.active {
  border-right: 1px solid gainsboro;
}

.tab-bar .tab-bar-space {
  flex: 1;
  border-bottom: 1px solid gainsboro;
}

.tab-bar .tab img, .tab-bar .tab svg, .tab-bar .tab i {
  height: 1.2rem;
  line-height: 1rem !important;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: -0.05rem;
  margin-right: 0.35rem;
  opacity: 0.8;
}

.tab-bar .tab:hover img, .tab-bar .tab.active img,
.tab-bar .tab:hover svg, .tab-bar .tab.active svg,
.tab-bar .tab:hover i, .tab-bar .tab.active i {
  opacity: 1;
}

.tab-pages {
  border: 1px solid gainsboro;
  border-top: 0px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
  flex: 1;
  min-height: 0px;
}

.tab-page {
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.tab-page:not(.active) {
  display: none;
}

.panel-l, .panel-r {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  max-width: 90%;
  background: white;
  z-index: 150;
  box-sizing: border-box;
}

.panel-r {
  left: auto;
  right: 0;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02) !important;
}

.panel-r .btn-close, .panel-l .btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.spinner-bar-pulse {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: inline-block;
}

.spinner-bar-pulse > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  background-color: #4e8cd3;
  border-radius: 3px;
  margin: 2px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-bar-pulse .bar-pulse2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-bar-pulse .bar-pulse3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-bar-pulse .bar-pulse4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-bar-pulse .bar-pulse5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.splitter, .splitter-h {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  width: 4px;
  margin: 0px -2px;
  cursor: col-resize;
  z-index: 80;
}

.splitter:hover, .splitter-h:hover {
  background: rgba(50, 50, 50, 0.5);
}

.splitter-h {
  width: 100%;
  cursor: row-resize;
  height: 4px;
  margin: -2px 0px;
}

.splitter-bg {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 70;
}

.pagination-container {
  display: inline-flex;
  padding: 4px 0px;
}

.pagination-i-page {
  width: 50px;
  text-align: center;
  margin: 2px 12px !important;
  margin-right: 4px !important;
  font-size: 0.9rem !important;
  line-height: 0.9rem !important;
  padding: 0.3rem 0.6rem !important;
}

.pagination-i-page::-webkit-inner-spin-button,
table.spreadsheet input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.pagination-count {
  font-size: 0.9em;
  display: flex;
  margin: auto 2px;
  margin-right: 12px;
  opacity: 0.8;
}

.pagination-container .btn, .pagination-container button.pebble, .pagination-container .btn-lg, .pagination-container .pebble button.btn-lg, .pebble .pagination-container button.btn-lg, .pagination-container .btn-sm, .pagination-container .pebble button.btn-sm, .pebble .pagination-container button.btn-sm, .pagination-container .btn-close, .pagination-container .btn-img, .pagination-container .btn-img-sm, .pagination-container .pebble button.btn-img-sm, .pebble .pagination-container button.btn-img-sm, .pagination-container .btn-img-lg, .pagination-container .pebble button.btn-img-lg, .pebble .pagination-container button.btn-img-lg, .pagination-container select.pebble:not([multiple]):not([size]), .pagination-container .form-row select:not([multiple]):not([size]), .form-row .pagination-container select:not([multiple]):not([size]),
.pagination-container .pebble select:not([multiple]):not([size]),
.pebble .pagination-container select:not([multiple]):not([size]), .pagination-container input[type=button].pebble, .pagination-container .pebble input[type=button], .pebble .pagination-container input[type=button],
.pagination-container input[type=submit].pebble, .pagination-container .pebble input[type=submit], .pebble .pagination-container input[type=submit],
.pagination-container input[type=reset].pebble, .pagination-container .pebble input[type=reset], .pebble .pagination-container input[type=reset] {
  padding: 0.3rem 0.6rem;
  font-size: 1.4rem !important;
  min-width: 40px;
  text-align: center;
  user-select: none;
}

.li-item, .li-item-h, .li-item-container-h .li-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.45rem 0.65rem;
  box-sizing: border-box;
  padding-right: 0px;
  justify-content: left;
  font-size: 1.1rem;
}

.li-item img, .li-item-h img, .li-item-container-h .li-item img {
  box-sizing: border-box;
  height: 1.4rem !important;
  width: 1.4rem !important;
  object-fit: contain;
  margin: -.2rem 0px;
  margin-right: 0.45rem;
}

.li-item .sticker, .li-item-h .sticker {
  margin-right: 0.45rem;
}

.li-item-container.border {
  border-bottom: 0px;
}

.li-item-container.border .li-item, .li-item-container.border .li-item-h {
  border-bottom: 1px solid gainsboro;
}

.li-text {
  flex: 1;
  padding-right: 0.45rem;
}

.li-item.heading, .heading.li-item-h {
  font-size: 1.3rem;
  background: #ebebeb;
}

.li-details {
  flex-basis: 100%;
  font-size: 0.9rem;
  min-height: 0;
  padding: 0.3rem;
  padding-left: 0.45rem;
  padding-top: 0.5rem;
}

.li-item-h, .li-item-container-h .li-item, .li-item-container-h .li-item-h {
  cursor: pointer;
}

.li-item-h:hover, a .li-item:hover, .li-item-container-h .li-item:hover {
  color: black;
}

a .li-item, a .li-item-h, a .li-item-container-h .li-item, .li-item-container-h a .li-item {
  color: #3c3c3c;
}

.tree-item {
  display: flex;
  padding: 0.1rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 1px 0px;
  justify-content: center;
  align-items: center;
}

.tree-btn {
  opacity: 0.6;
}

.tree-btn {
  background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M6,4 L10,8 6,12" fill="none" stroke="currentColor" stroke-width="1.5"/></svg>');
  width: 1rem;
  height: 1rem;
  display: inline-block;
  cursor: pointer;
  margin-right: 1px;
}

.tree-btn:hover {
  opacity: 0.8;
}

.tree-text {
  flex: 1;
}

.tree-block.expand > .tree-item .tree-btn {
  background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M4,6 L8,10 12,6" fill="none" stroke="currentColor" stroke-width="1.5" /></svg>');
}

.tree-btn.none {
  cursor: default;
  background: none !important;
}

.tree-item-childs {
  margin-left: 1rem;
}

.tree-block:not(.expand) > .tree-item-childs {
  display: none;
}

.tree-item.drag-over-t {
  border-top: 1px solid #2f8dd9;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tree-item.drag-over-b {
  border-bottom: 1px solid #2f8dd9;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tree-item.drag-over-box {
  border: 1px solid #2f8dd9;
}

.tree-item.drag-item {
  opacity: 0.5;
}

.tree-item.drag-item.drag-over-t,
.tree-item.drag-item.drag-over-b,
.tree-item.drag-item.drag-over-box {
  border: 1px solid rgba(0, 0, 0, 0);
}
