.output-page {
    position:relative;
}

.output_buttons {
    padding:6px;
    padding-right:0px;
}

.output-page .btn-run {
    /*position:absolute;*/
    /*top:2px;*/
    /*left:2px;*/
}

.output-page .btn-run-ext {
    position:absolute;
    top:52px;
    left:2px;
}

.output-tab img {
    opacity:0.5;
}

.output-tab.running img {
    opacity:1;
}

.output-tab.running .tab-title {
    color:rgb(95,178,223);
}

.output-page {
    display:flex;
    flex-direction:row;
    margin-bottom:2px;
    flex:1;
    /*overflow-x:scroll;*/
}
.output-page input {
    /*background:rgb(20,20,20);*/
    background:transparent;
    padding:6px 8px;
    border:0px;
    color:white;
    font-family:monospace;
    /*margin-left:40px;*/
    outline:none;
}
.output-console {
    font-size:0.8rem;
    flex:1;
    background:rgb(25,25,25);
    padding:10px 20px;
    /*font-family:monospace;*/
    /*min-height:0;*/
    white-space: pre-wrap;
    box-sizing:border-box;
    overflow-x:auto;
    /*margin:2px 16px;*/
    margin:2px 6px;
    margin-top:0px;
    /*margin-left:44px;*/
    border-radius:4px;
    /*flex-direction:column;*/
    
    /*scroll-snap-type: y proximity;*/
}

/*.output-console .outtext:last-child {*/
/*    scroll-snap-align: end;*/
/*}*/

.output-console .outtext {
    color:rgb(171,194,148);
}

.output-console .info {
    color:rgb(89,255,220);
}

.output-console .error {
    color:rgb(228,134,134);
}

.output-time-text {
    font-size:0.7rem;
    color:rgba(200,200,200,0.7);
    margin:0px 10px;
}

.output-filelink {
    color:rgb(121,213,255);
    cursor:pointer;
    text-decoration:underline;
}

/*---Input*/
.output-input {
    /*margin-left:56px;*/
    color:rgb(63,141,249);
    margin-left:8px;
}
.output-input input {
    color:rgb(63,141,249);
    outline:none;
    margin-left:0px;
}

.output-console .intext {
    color:rgb(63,141,249);
    margin-left:-8px;
    margin-top:4px;
}

.output-console .intext::before {
    content:"\203A ";
    padding-right:6px;
}